<!-- Botón hamburguesa para móvil -->
<button class="md:hidden p-2 bg-gray-600 text-white fixed top-4 left-4 z-20" [ngClass]="{'hidden': menuOpen}" (click)="menuOpen = true">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
  </svg>
</button>

<!-- Side Menu -->
<div
  id="menu"
  class="fixed top-0 left-0 w-[220px] bg-gray-900 text-slate-300 h-screen overflow-y-auto z-10 transform transition-transform duration-300 md:translate-x-0"
  [ngClass]="{'-translate-x-full': !menuOpen, 'translate-x-0': menuOpen}"
>
  <gifs-side-menu-header></gifs-side-menu-header>
  <gifs-side-menu-options></gifs-side-menu-options>

  <!-- Botón cerrar -->
  <button class="md:hidden absolute top-4 right-4 text-white" (click)="menuOpen = false">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
    </svg>
  </button>
</div>

<!-- Overlay -->
 @if (menuOpen) {
<div
  class="fixed inset-0 bg-black bg-opacity-50 z-5 md:hidden"
  (click)="menuOpen = false"
></div>
 }

